
<button class="add" mat-fab extended color="success"> 
    <mat-icon>add</mat-icon>
    Ajouter
</button>
<br/>
<div class="container">
    <form>
        <div class="mb-3">
            <label for="champ1" class="form-label">Champ 1</label>
            <input type="text" class="form-control" id="champ1" placeholder="Entrez le champ 1">
        </div>
        <div class="mb-3">
            <label for="champ2" class="form-label">Champ 2</label>
            <input type="text" class="form-control" id="champ2" placeholder="Entrez le champ 2">
        </div>
        <button mat-fab extended color="accent">
            <mat-icon>save</mat-icon>
            Sauvegarder
        </button>

    </form>
</div>
     