
<div class="d-flex flex-row-reverse bd-highlight">
    <button class="btn btn-outline-primary" (click)="onClickForm()"> 
        <i class="bi bi-plus"> Ajouter </i>
    </button>
</div>

<div class="row justify-content-end mt-3"  *ngIf="showForm">
<div class="col-md-10">
    <div class="card p-4">

        <div class="mb-3">
            <label class="form-label">Titre de projet</label>
            <input type="email" class="form-control" placeholder="Titre de projet" [(ngModel)]="project.nom">
          </div>
          <div class="mb-3">
            <label class="form-label">Description</label>
            <textarea class="form-control" rows="3" placeholder="Description du projet" [(ngModel)]="project.description"></textarea>
          </div>

          <div class="mb-3">
            <label class="form-label">Date début</label>
            <input type="date" class="form-control" [(ngModel)]="project.dateDebut">
          </div>
          <div class="mb-3">
            <label class="form-label">Date fin</label>
            <input type="date" class="form-control" [(ngModel)]="project.dateFin">
          </div>

          <div class="mb-3">
            <button class="btn btn-primary px-3" (click)="addProjects()">
                <i class="bi bi-floppy"> Enregistrer </i>
            </button>
          </div>
    </div>
</div>
</div>
<br>
<app-projects-list></app-projects-list>