<div class="container">
    <div class="card">
        <div class="card-header">Liste des tâches pour le projet : {{projectId}}</div>
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>titre de tâche</th>
                        <th>Description de tâche</th>
                        <th>Etat</th>
                        <th>Date début</th>
                        <th>Date fin</th>
                        <th>Responsable</th>
                    </tr>
                </thead>
                <tbody *ngFor="let t of tache">
                    <tr>
                        <td>{{t.nom}}</td>
                        <td>{{t.description}}</td>
                        <td>
                            <span class="badge" [ngClass]="{
                              ' text-bg-success': t.etat === 'terminer',
                              ' text-bg-warning': t.etat === 'En cours',
                              ' text-bg-secondary': t.etat === 'En attente',
                              ' text-bg-danger': t.etat === 'Annuler'
                            }">{{ t.etat }}</span>
                          </td>

                          
                        <td>{{t.dateDebut | date : 'short'}}</td>
                        <td>{{t.dateFin | date : 'short'}}</td>
                        <td>{{t.responsable}}</td>
                        <td>
                            <button class="btn btn-danger" (click)="deleteTache(t.id)">
                                <i class="fas fa-solid fa-trash"></i>
                            </button>
                        </td>

                        <td>
                            <button class="btn btn-primary" (click)="editTache(t.id)">
                                <i class="fas fa-edit"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>