<mat-card>
<form #postForm="ngForm">
    <mat-form-field>
        <mat-label>Insérez la tâche ici</mat-label>
        <input name="Nom" type="text" matInput [(ngModel)]="ta.nom">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Description de tche</mat-label>
        <textarea name="Description" rows="10" matInput [(ngModel)]="ta.description">
        </textarea>
    </mat-form-field>
    <button mat-fab extended color="accent" (click)="ChangeTache()">
        <mat-icon>save</mat-icon>
        Sauvegarder
    </button>
</form>
</mat-card>